<head></head>
    <title>aniwatch.com</title>
</head>

<body>
    <h1>my Disliked animes</h1>
    <ol>
        <li>
            saiki reawekend
        </li>
        <li>
            tokiyo revengers
        </li>
        <li>
            naruto shinbo festival
        </li>
        <li>
            jojo's
        </li>
        <li>
            my best friend is vapaire
        </li>
        <li>
            uchiha lifesyle
        </li>
    </ol>
<img src="https://i.pinimg.com/236x/fc/73/e1/fc73e1cc760759de8115de9f4de4c43a.jpg">
<img src="https://i.pinimg.com/736x/04/5b/47/045b475d0fc61904e690e7ee5f566777.jpg">
</body>